! General colors {{{1
! -----------------------------------------
! Generated with :
! XRDB2Xreources.py
!
! *.foreground:  #d0d0d0
! *.background:  #212121
! *.cursorColor: #d0d0d0
! !
! ! Black
! *.color0:      #000000
! *.color8:      #505050
! !
! ! Red
! *.color1:      #ac4142
! *.color9:      #ac4142
! !
! ! Green
! *.color2:      #7e8e50
! *.color10:     #7e8e50
! !
! ! Yellow
! *.color3:      #e5b567
! *.color11:     #e5b567
! !
! ! Blue
! *.color4:      #7ca9cb
! *.color12:     #3c698b
! !
! ! Magenta
! *.color5:      #9f4e85
! *.color13:     #9f4e85
! !
! ! Cyan
! *.color6:      #7dd6cf
! *.color14:     #7dd6cf
! !
! ! White
! *.color7:      #d0d0d0
! *.color15:     #f5f5f5
!
! Bold, Italic, Underline
*.colorBD:     #d0d0d0
!*.colorIT:
!*.colorUL:




! urxvt {{{1
! appearance {{{2
URxvt.scrollBar: false

urxvt*depth: 32
URxvt.background: [100]#000000

!URxvt*font: xft:InputMono ExLight:size=10:minspace=False:antialias=true, xft:DejaVu Sans:pixelsize=9, xft:Iosevka Nerd Font Mono
!
!URxvt*font: xft:FantasqueSansMono NF:style=Regular:pixelsize=14
!URxvt*font: xft:Hurmit NF:style=medium:pixelsize=14
URxvt*font: xft:FiraCode Nerd Font Mono:style=Regular:pixelsize=14, xft:Wuncon\ Siji:style=Regular:pixelsize=14

!
URxvt.letterSpace:0
URxvt.lineSpace:0

!Xft.dpi:        72
Xft.antialias:  true
Xft.hinting:    true
Xft.hintstyle:  hintfull

! extensions {{{2
URxvt.perl-ext-common: font-size

! keyboard {{{2
! might be useful, remaps C-Tab and C-S-Tab
URxvt.keysym.Control-Tab: \033{
URxvt.keysym.Control-Shift-ISO_Left_Tab: \033}


! disable ctrl-shit
URxvt*iso14755: False
URxvt*iso14755_52: False
