! General colors {{{1
! -----------------------------------------
! Generated with :
! XRDB2Xreources.py
!
*.foreground:  #d0d0d0
*.background:  #212121
*.cursorColor: #d0d0d0
!
! Black
*.color0:      #151515
*.color8:      #505050
!
! Red
*.color1:      #ac4142
*.color9:      #ac4142
!
! Green
*.color2:      #7e8e50
*.color10:     #7e8e50
!
! Yellow
*.color3:      #e5b567
*.color11:     #e5b567
!
! Blue
*.color4:      #6c99bb
*.color12:     #6c99bb
!
! Magenta
*.color5:      #9f4e85
*.color13:     #9f4e85
!
! Cyan
*.color6:      #7dd6cf
*.color14:     #7dd6cf
!
! White
*.color7:      #d0d0d0
*.color15:     #f5f5f5
!
! Bold, Italic, Underline
*.colorBD:     #d0d0d0
!*.colorIT:
!*.colorUL:




! urxvt {{{1
! appearance {{{2
URxvt.scrollBar: false

urxvt*depth: 32
URxvt.background: [92]#000000

URxvt*font: xft:DejaVu Sans Mono:size=10:minspace=False, xft:DejaVu Sans:pixelsize=9
URxvt*boldFont: xft:DejaVu Sans Mono:size=11:minspace=False, xft:DejaVu Sans:pixelsize=9
!
!-1 with normal font
URxvt.letterSpace:-1

! extensions {{{2
URxvt.perl-ext-common: font-size

! keyboard {{{2
! might be useful, remaps C-Tab and C-S-Tab
URxvt.keysym.Control-Tab: \033{
URxvt.keysym.Control-Shift-ISO_Left_Tab: \033}

!remaps C-(, C-[ ,C-{, C-< and C-" for easy use in vim  "
!not very aesthetic, gona fix it "someday"
URxvt.keysym.Control-0x28: (_^_)
URxvt.keysym.Control-0x5B: [_^_]
URxvt.keysym.Control-0x7B: {_^_}
URxvt.keysym.Control-0x3C: <_^_>
URxvt.keysym.Control-0x22: "_^_"


! disable ctrl-shit
URxvt*iso14755: False
URxvt*iso14755_52: False
